<ion-view view-title="{{user || 'Home'}}" class="venter-container">  
	<ion-content class="vertical-center">
		<div class="Aligner">
		  <div class="Aligner-item">
			<ion-spinner ng-show="loading" class="loader-center"></ion-spinner>
			<div ng-hide="no_lover || loading || error">
				<i class="ion-ios-heart" ng-class="distance"></i>
			</div>
			<div ng-show="no_lover && !loading">
				Vous n'avez pas encore de lover. 
				<p>
					<a class="button button-positive icon-left ion-home" href="#/app/settings">
					  button-positive
					</a>
				</p>
			</div>
			<div ng-show="error && !loading">
				{{error}}
			</div>
		  </div>
		</div>
	</ion-content>
</ion-view>
