<ion-view view-title="Home" class="venter-container">  
	<ion-content class="vertical-center">
		<div class="Aligner">
		  <div class="Aligner-item">
			<ion-spinner ng-show="loading" class="loader-center"></ion-spinner>
			<div ng-hide="$root.user.no_lover || $root.loading || $root.error">
				<i class="ion-ios-heart" ng-class="$root.user.distance"></i>
			</div>
			<div ng-show="$root.user.no_lover && !$root.loading" class="no-lover">
				Vous n'avez pas encore de lover.
				<p>
					<a class="button icon ion-heart add-lover-button" href="#/app/settings">
						<i class="ion-plus"></i>
					</a>
				</p>
			</div>
			<div ng-show="$root.error && !$root.loading">
				{{error}}
			</div>
		  </div>
		</div>
	</ion-content>
</ion-view>
