<ion-view view-title="Home">  
	<ion-content>
		<div class="Aligner">
		  <div class="Aligner-item">
			<form ng-submit="save()" id="setting-form">
			  <div class="list">
				<label class="item item-input">
				  <span class="input-label">My lover's email</span>
				  <input type="text" ng-model="lover.email" ng-change="$root.error_lover = ''">
				</label>
				<div class="error" ng-show="$root.error_lover">
				  {{$root.error_lover}}
				</div>
				<div class="logout">
				  <ion-spinner ng-show="$root.loading"></ion-spinner>
				  <button class="button button-positive icon-left ion-ios-checkmark-outline" type="submit">Enregistrer</button>
				</div>
			  </div>
			</form>
			<div class="logout">
				<button type="button" name="fota" class="button button-positive icon-left ion-ios-download-outline" ng-click="logout();">Log out</button>
			</div>
		  </div>
		</div>
	</ion-content>
</ion-view>