[nav-view="cached"]{
	opacity:0;
	transition: 1s ease opacity;
}

.tabs-top > .tabs{
	background:transparent;
	bottom:0;
	top:initial;
	border-top:1px solid rgba(255,255,255,0.5) !important;
}

.has-tabs-top{
	top:0;
	bottom: 50px;
}

.tab-content, #login, #signup {
	background: url('../img/18.jpg') no-repeat;
}

#login .bar-header, #signup .bar-header{
	background-color:transparent;
}

#login .bar-header .title, #signup .bar-header .title{	
	color:white;
}

.no-lover{
	font-size:1.2rem;
}

.logout{
	text-align:right;
	margin-top: 26px;
	margin-right: 5px;
}

button, a.button, input.button{
	border: 1px solid white !important;
	background:rgba(0,0,0,0.5) !important;
	margin-bottom:-15px !important;
}

.popup-buttons .button{
	margin: 0 !important;
}

.add-lover-button{
	color: white;
	border-radius:50%;
	margin-top: 20px;
	padding-top:5px;
	padding-bottom:5px;
}

.tab-content .pane, .list .item, .list-inset{
	background-color:transparent;
	color:white;
	border:none;
}

.oauth{
	text-align:right;
}

.list .item-input{
	padding-right:18px;
}

.input-label{
	color:white;
}

.item-input > input{
	border-color:white;
	border-bottom: 1px solid white;
	color:white;
}

.scroll {
    height: 100%;
}

.Aligner {
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.Aligner-item {
  text-align:center;
}

.tabs{
	background-color: transparent;
	color:white;
	border:none;
}

#setting-form button, #setting-form input[type="button"]{
	background-color:transparent;
	border-color:white;
}

#login .spinner svg, #signup .spinner svg{
	position: absolute;
    top: 8px;
    left: 20px;
}

.error{
	color:#f56;
	padding: 0 10px;
}

.user-validated.true{
	color:#5f6;
}

.user-validated{
	color:#f56;
}
 
.ion-ios-heart {
	font-size: 15rem;
	color:#f56;
}

.ion-ios-heart.very-close {
    animation: heartbeat 0.5s infinite;
}

.ion-ios-heart.close {
    animation: heartbeat 2s infinite;
	font-size: 13rem;
	color:#D34;
}

.ion-ios-heart.medium {
    animation: heartbeat 3s infinite;
	font-size: 11rem;
	color:#B34;
}

.ion-ios-heart.far {
    animation: heartbeat 5s infinite;
	font-size: 9rem;
	color:#934;
}

.ion-ios-heart.very-far {
    animation: heartbeat 7s infinite;
	font-size: 7rem;
	color:#734;
}

.ion-ios-heart.very-far-away {
    animation: heartbeat 9s infinite;
	font-size: 5rem;
	color:#634;
}

@keyframes heartbeat {
    0% { text-shadow: 0 0 80px #f00; }
    50% { text-shadow: 0 0 0 #f00; }
    100% { text-shadow: 0 0 80px #f00; }
}